// ============================================
// CUSTOM FONTS
// ============================================

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../assets/fonts/ppneuemontreal-bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
